@import url('https://fonts.googleapis.com/css2?family=Piazzolla:wght@300&family=Roboto:wght@100&display=swap');

body {
  background-color: whitesmoke;
  font-family: 'Roboto', sans-serif;
  max-width: 500px;
  margin: auto;
}

main{
  max-width: 760px;
  margin: 0 auto;
}

header {
  display: flex;
  max-width: 760px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  color: #393E41;
  font-family: "Piazzolla", serif;
}

.iconimage {
  height: 80px;
  width: 80px;
  padding-right: 5px;
}

.topheading {
  display: flex;
  flex-direction: column;
}

.topheading h1 {
  font-size: 1.5em;
  margin: 0 0 0 0px;
}

.subtitle {
  font-style: italic;
  padding-bottom: 0.5em;
}

nav {
  margin: 0 auto;
  max-width: 760px;
  background-color: #4A8FE8;
  font-family: "Piazzolla", sans-serif;
}

.navigation {
  margin: 0 auto;
  list-style: none;
  padding: 0 0;
}

.navigation li:first-child {
  display: block;
}

.navigation li {
  display: none;
}

.navigation a {
  display: block;
  padding: 0.75rem;
  text-align: center;
  text-decoration: none;
  color: #D3D0CB;
}

.navigation a:hover {
  color: #D3D0CB;
  ;
  background-color: #6c9fe2;
}

.responsive li {
  display: block;
}

#wayfinding {
  background-color: #6c9fe2;
}

#gallery-images {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

img {
  max-width: 200px;
  margin: 0 auto;
}

/*sections*/
.preston, .soda, .fish {
  background-color: #E7BB41;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.63);
  border-radius: 5px;
}
#towns section h1 {
  color: #4A8FE8;
  padding-top: 30px;
  margin-bottom: -5px;
  font-size: 1.7em;
}
#towns section h3 {
  font-size: 1em;
  font-style: italic;
}
#towns section hr {
  margin: 0 30px;
  margin-top: -2px;
  color: #4A8FE8;
}

#towns section img {
  max-width: 90%;
  margin: 15px 0;
}


.contact {
	padding-left: 20px;
	padding-right: 20px;
	background-color: lightgray;
	border: black solid 2px;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
  text-align: center;
}

footer {
  padding: 2px 6px;
  background-color: #4A8FE8;
  color: #D3D0CB;
  font-family: 'piazzolla', sans-serif;
  font-size: 14px;
  text-align: center;
}

/*medium*/
@media only screen and (min-width: 32.5em) {
  .navigation {
    display: flex;
  }

  .navigation li {
    display: block;
    flex: 1 1 auto;
  }

  .navigation a {
    text-align: center;
  }

  .navigation li:first-child {
    display: none;
  }

  .iconimage {
    height: 94px;
    width: 94px;
  }

  body {
    max-width: 750px;
    margin: auto;
}

#gallery-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
}

img {
    max-width: 70%;
    margin: 0 auto;
}

#towns section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 20px;
}


/* Large */
@media only screen and (min-width:768px) {
  header {
    margin: 0 6em;
    justify-content: left;
    font-size: 30px;
  }

  .navigation {
    display: flex;
  }

  .navigation li {
    display: block;
    flex: 1 1 auto;
  }

  .navigation a {
    text-align: center;
  }

  .navigation li:first-child {
    display: none;
  }

  .iconimage {
    height: 94px;
    width: 94px;
  }

  body {
    max-width: 900px;
    margin: auto;
}

#gallery-images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
}

img {
    max-width: 100%;
    margin: 0 auto;
}

picture:hover {
  box-shadow: 0 0 50px #333;
}

#towns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  }
  #towns section {
      display: block;
      margin-top: 30px;
  }
  #towns section img {
      padding: 0;
      margin: 10px 0;
  }
  
.contact {
  overflow-y: auto;
  padding-bottom: 20px;
}
.contactmap {
  display: block;
  float: left;
  max-width: 50%;
}

 footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 15px 12em;

  }
}
}
